@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
body {
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  background: #FF5964;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 35px;
  text-align: center;
}

.layer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform .4s;
  transition: transform .4s;
  -webkit-transform: perspective(800px) scale(1) translateX(0) rotateY(0);
  transform: perspective(800px) scale(1) translateX(0) rotateY(0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

nav {
  vertical-align: center;
}

nav ul {
  padding-left: 66.66%;
  font-size: larger;
  line-height: 2;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  position: relative;
}
nav ul li a:after {
  position: absolute;
  content: "";
  left:0;
  bottom: -5px;
  width: 0;
  height: 15%;
  background:#343436;
  transition: all .3s ease;
}
nav ul li a:hover:after {
  width: 100%;
}
.front {
  background: #FFFBC1;
}

body:hover .front {
  -webkit-transform: perspective(700px) scale(0.5) translateX(-16.66%) rotateY(25deg);
  transform: perspective(700px) scale(0.5) translateX(-16.66%) rotateY(25deg);
}